# Sorting
/Sorting/Sorting.class

# AVL-Trees
/AVL-Trees/AVL.class
/AVL-Trees/AVL$Node.class

# Graph-Traversal
/Graph-Traversal/Graph.class

# Greedy
/Greedy/Graph$Edge.class
/Greedy/Graph.class

# DP

